.img-logo{
  width:80px;
}

.color-gradient {
  background: linear-gradient(to right, #3366ff 0%, #99ccff 60%, #3366ff 100%);
}

.login-form-position {
  top: 12%;
  right: 12%;
}

.layout-boder {
  border-radius: 50px ;
}

.aaa {
  cursor: pointer;
}

.aaa:hover {
  color: red!important;
}