.body {
  font-family: "Be Vietnam", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 1000px;
}

.header {
  height: 80px;
  /* margin-bottom: 20px; */
}

.header-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 30%;
}

.nav-avatar {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 30%;
}

.height-content-nav {
  height: 48px;
}

.background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 30%;
  background-color: #F8F9FF
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: #F8F9FF
}

.header-color {
  color: #697BFF;
}

.nav-header-item:hover {
  cursor: pointer;
  color: #697BFF;
}

.img-panel {
  width: 80%;
  height: 200px;
  object-fit: center;
  border-radius: 10%;
}

.border-radius {
  border-radius: 15px;
  border: 1.5px solid rgb(197, 197, 197)
}

.content-nav {
  margin-bottom: 20px;
}

.content-nav:hover {
  cursor: pointer;
  color: #3a4ceb;
  background-color: #F8F9FF;
  /* margin: 0px; */
  border: 3px solid #3a4ceb
}

.size-map {
  width: 150px;
  height: 130px;
  border-radius: 15px;
}

.home-img-item {
  height: 70px;
  width: 60px;
}

.home-img-content {
  height: 500px;
}

.bg-header {
  background: linear-gradient(to right, #3366ff 0%, #99ccff 60%, #fcfcfd 100%);
}

.item-order-image {
  width: 150px;
  height: 90px;
  border-radius: 15px;
  object-fit: cover;
  margin: 5px;
}

.height-content {
  height: calc(100vh - 68px);
}

.map-container {
  width: 100%;
  height: calc(100vh - 200px);
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  font-size: 15px;
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  margin-right: 20px;
  border-radius: 4px;
}

.div-search {
  position: absolute;
  z-index: 1;
  top: 0;
  margin: 12px;
  min-width: 300px;
  max-Width: 300px
}

.avatar-profile {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.image-panel {
  width: calc(100vw - 20px);
  /* margin-left: 50px; */
  height: 100vh;
}

.item-avatar-chat {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.chat-height-top {
  height: 60px;
}

.nav-chat-item {
  height: 680px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.btn-img-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 40px;
  background-color: rgb(243, 243, 243);
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.btn-img-upload:hover {
  cursor: pointer;
  background-color: rgb(197, 194, 194);
}

.chat-content {
  height: 700px;
  overflow-y: auto;
}

.img-chat-content {
  height: 200px;
  max-width: 700px;
  border-radius: 30px;
}

.status-period {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-line {
  margin-top: 20px;
  height: 2px;
  width: 100%;
  background-color: red
}

.image-detail-order {
  height: 150px;
  width: 250px;
  border-radius: 15px;
  object-fit: contain;
}

.detail-map {
  height: 300px;
}

.bg-feat {
  background-color: #f0f1fd;
  border-radius: 15px;
}

/* .border {
  border-radius: 15px !important;
} */

.bg-pass {
  background-color: #12cc02;
}

.rating-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating,
.review-score {
  display: inline-flex;
  margin-top: -10px;
  flex-direction: row-reverse;
}

.rating>input,
.review-score>input {
  display: none
}

.rating>label,
.review-score>label {
  position: relative;
  width: 40px;
  font-size: 45px;
  color: #fece50;
}

.rating>label {
  cursor: pointer;
}

.rating>label::before,
.review-score>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before,
.review-score>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.hover:hover {
  cursor: pointer;
}


/* Auth */
.img-logo {
  width: 80px;
}

.color-gradient {
  background: linear-gradient(to right, #3366ff 0%, #99ccff 60%, #3366ff 100%);
}

.login-form-position {
  top: 30px;
  right: 12%;
  bottom: 30px;
  width: 500px;
}

.layout-boder {
  border-radius: 20px;
}

.event-hover {
  cursor: pointer;
}

.event-hover:hover {
  color: red !important;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  min-height: 600px;
  background-color: #fff;
  position: relative;
  animation: growth ease 0.4s, fadeIn ease 0.4s;
}

.maxWidth-form {
  max-width: 500px;
}

.min-height {
  min-height: 500px;
}

.mw-50 {
  max-width: 50%;
  border-radius: 30px !important;
}

.detail-other-user {
  background-color: white;
  /* border-radius: 20px; */
  position: absolute;
  right: 1px;
  z-index: 1;
  width: 295px;
}

.avatar-other-user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}